.page-right{
    width: calc(100% - 180px);
    height: 100vh;
}
.company-name__icon{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -467px -414px;
	width: 10px;
	height: 5px;
    cursor: pointer;
}
.company-name__txt {
    font-family: 'Notosan-semibold';
    margin-right: 8px;
}
.company-name {
    display: flex;
    align-items: center;
}
.wp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 15px;
    height: 30px;
}
.search-header {
    position: relative;
}
.search-header__icon {
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -992px -360px;
	width: 16px;
	height: 16px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.search-header input{
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 8px;
    padding-left: 16px;
    width: 170px;
    outline: none;
}
.header-icon__about{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -568px -30px;
	width: 24px;
	height: 24px;
}
.header-icon__setting{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -676px -30px;
	width: 23px;
	height: 24px;
}
.header-icon__chat{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -899px -30px;
	width: 24px;
	height: 25px;
}
.header-icon__help{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -732px -31px;
	width: 22px;
	height: 22px;
}
.header-icon__notice{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -788px -30px;
	width: 22px;
	height: 25px;
}
.header-function {
    display: flex;
    align-items: center;
}
.wp-function-header {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.function-header__icon {
    margin-right: 15px;
    cursor: pointer;
}
.profile-avatar{
    width: 30px;
    height: 30px;
}
.profile-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.profile-avatar {
    width: 30px;
    height: 30px;
    border: 1px solid #E5E5E5;
    border-radius: 100px;
}
.profile-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile-name {
    font-family: 'Notosan-semibold';
    margin: 0 10px;
}
.profile-icon{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -467px -414px;
	width: 10px;
	height: 5px;
}
.wp-content-table{
    background-color: #F4F5F7;
    height: calc(100vh - 90px);
    padding: 20px 15px;
    padding-top: 15px;
}
.wp-icon-back__img{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -228px -362px;
	width: 8px;
	height: 12px;
    cursor: pointer;
}
.content-title__left--txt{
    font-family: 'Notosan-bold';
    font-size: 20px;
    margin: 0;
}
.wp-icon-back {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.wp-icon-back__txt {
    color: #0678c1;
    margin-left: 5px;
    cursor: pointer;
}
.btn-add {
    background-color: #2C9F1C;
    width: 60px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-add:hover{
    background-color: #019160;
    transition: 0.3s;
}
.content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-table{
    background-color: #fff;
    height: 100vh;
}
.content-table {
    margin-top: 10px;
    background-color: #fff;
    height: 88%;
    padding: 15px;
}
.input-search__icon {
    background: url(../content/img/Sprites.64af8f61.svg) no-repeat -992px -360px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.input-search {
    position: relative;
    width: 250px;
}
.input-search input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    padding: 8px 0;
    padding-left: 10px;
    outline: none;
}
.table-employee table{
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wp-table-pagination {
    display: flex;
    align-items: center;
}
.pagination-data {
    display: flex;
    align-items: center;
}
.pagi-nub {
    display: flex;
    align-items: center;
}
.total-data span{
    font-family: 'Notosan-bold';
}
.number-per-page select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    outline: none;
    cursor: pointer;
}
.pre-page {
    margin: 0 10px;
    cursor: pointer;
}
.pagi-nub__item:last-child {
    margin-right: 0;
}
.pagi-nub__item {
    margin-right: 10px;
    cursor: pointer;
}
.page-active {
    font-family: 'Notosan-bold';
    border: 1px solid #E5E5E5;
    padding: 1px 5px;
}
.disable-button {
    color: #BBBBBB;
    cursor: context-menu;
}
.table-employee {
    height: 510px;
    overflow-y: scroll;
    margin-top: 15px;
}
.table-employee::-webkit-scrollbar {
    width: 2px;
    
}
.table-employee::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
.bank-banch{
    text-transform: uppercase;
}
.edit-row p{
    color: #0678c1;
    margin-left: 15px;
}
.edit-icon{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
    margin-left: 15px;
}
.edit-row {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.dialog-edit {
    position: absolute;
    top: 41px;
    left: -43px;
    border: 1px solid #bbb;
    width: 112px;
    z-index: 1;
    background-color: #fff;
    display: none;
}
.show-dialog{
    display: block;
}
.dialog-edit__item {
    padding: 5px;
    border-bottom: 1px solid #E5E5E5;
}
.dialog-edit__item:last-child {
    border: none;
}
.dialog-edit__item:hover{
    background-color: #EDEEF2;
    color: #019160;
}
th{
    background-color: #EDEEF2;
}
.delete-warning {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.del-warn__icon{
    background: url('../content/img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
    margin-right: 20px;
}
.del-warn {
    display: flex;
    align-items: center;
}
.delete-warning {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    z-index: 9;
}
.del-warn__btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bbb;
    padding-top: 15px;
    margin-top: 25px;
}
tr th:last-child{
    border-right: none;
}
tr td:last-child{
    border-right: none;
}